<!-- <div class="container" >
  <div class="jumbotron" style="padding:50px;">
    <form action="return true;">
      <div class="imgcontainer">
        <img src="./assets/imagenes/login.png" alt="Avatar" class="avatar" max-width="104" >
      </div>

      <div class="container">
        <label><b>Usuario</b></label>
        <input type="text" placeholder="Usuario"  [(ngModel)]="usuario"  name="uname" required>

        <label><b>Clave</b></label>
        <input type="password" placeholder="Clave"  [(ngModel)]="clave" name="psw" required>
            
        <button *ngIf="logeando"  (click)="MoverBarraDeProgreso()" >Ingresar</button>
       
        <div *ngIf="!logeando" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho" >
              {{progresoMensaje}} - {{progreso}}%
            </div>
        </div>
       
        <input type="checkbox" checked="checked"> Recordar mis datos
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancelar</button>
        <button type="button" class="aceptbtn" routerLink="/Registro" >Registrarse</button>
        <span class="psw">Te olvidaste <a href="#">la clave?</a></span>
      </div>
     
    </form>
  </div>
</div> -->
<div class="contenedor-login animated fadeInLeft">
  <div class="contenedor-i-volver">
    <a routerLink="/Principal"><i class="far fa-arrow-alt-circle-left"></i></a>
  </div>

  <div class="contenedor">
    <form action="#" method="post">
      <div class="icono-cabecera">
        <i class="far fa-user-circle animated fadeIn"></i>
      </div>

      <div class="contenedor" class="form-conprincipal">

        <input type="text" name="usuario" id="usuario" placeholder="Usuario">

        <input type="password" name="clave" id="clave" placeholder="Contraseña">

      </div>


      <div class="contenedor-botones">
        <button>Ingresar</button>
      </div>

      <div class="contenedor-check">
        <input type="checkbox" name="recordar" id="check-recordar">
        <label>Recordar Mis Datos</label>
        <span class="psw">Te olvidaste <a href="#">la clave?</a></span>
      </div>

      <hr>

      <div class="contenedor-registro">
          <p>No tienes una cuenta? <a routerLink="/Registro">REGISTRATE</a></p>
      </div>
    </form>
  </div>
</div>