<link href="https://fonts.googleapis.com/css?family=Quantico&display=swap" rel="stylesheet">
<div class="panel panel-default">
  <ul class="barraNav">
      <li><a routerLink="/Registro"><span class="glyphicon glyphicon-user"></span><i class="fa fa-user"></i> Registrarse</a></li>
      <li><a routerLink="/Login"><span class="glyphicon glyphicon-log-in"></span><i class="fas fa-sign-in-alt"></i> Ingresar</a></li>
  </ul>
  <div class="header">
    <h1 class="animated rubberBand">Sala de Juegos</h1>
    <p>Emiliano Rago</p>
    <a href="https://github.com/emiirg93" target="_blank">en GitHub <i class="fab fa-github"></i></a>
    <a routerLink="/QuienSoy">Quien Soy?</a>
  </div>
</div>